<%- include('partials/header') -%>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
  <a class="navbar-brand" href="/">myspace</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Randomize
      </a>
      <div class="dropdown-menu active" aria-labelledby="navbarDropdown">
        <input type="text" class="dropdown-item" id="randomize-input" placeholder=" employee">
        <div id="randomize-results">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
        <a class="dropdown-item" id="Reserve" href="#">Reserve</a>
      </div>
    </li> -->
    <a class="nav-item active mr-5" id="randomize">Randomize</a>
    <a class="nav-item active mr-5">find<span class="ml-2"><svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg></span></a>
  </ul>
  </div>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  


  </div>
</nav>

<!-- image -->
<div class="container">
  <div class="row">
    <div class="col">
      <div id="image-div">
        <img src="https://i.pinimg.com/originals/46/27/8f/46278f80ebe11c44cd24497cff91be4d.jpg" class="img-fluid"/>
        <% seats.forEach(function(seat){ %>
        <% if(seat.employee_name == undefined){%>
        <button class="seatStyling" id=<%=seat.seat%>></button>
        <%}else{%>
        <button class="seatStyling" id=<%=seat.seat%> style="background-color:rgba(77, 255, 0, 0.3)"></button>
        <%}%>
        <%})%>
        <!-- <button class="btn" id="S1"></button>
        <button class="btn" id="S2"></button>
        <button class="btn" id="S3"></button> -->
      </div>
    </div>
  </div>

</div>

<!-- Randomize -->
<div id="randomize-bg-modal">
  <div id="randomize-content">
    <!-- <input type="text" id="randomize-input">
    <div id="search_results">
      <p>Vivek</p>
      <p>Vicky</p>
    </div>
    <button class="btn-success allocate">reserve</button> -->
  </div>
</div>


<!-- modal-form -->
<!-- <div class="bg-modal">
    <div class="modal-content">
      <a id="close">+</a>
      <p>Hospitality</p>
      <p>Team</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="text" name="name" placeholder="name" id="empsearch">
          <div id="names">
            <a class="dropdown-item" href="#"></a>
          </div>
          
        </div>
      </div> -->

<div class="bg-modal">
  <div class="modal-content">

  </div>
</div>




</div>
</div>
<%- include('partials/footer') -%>