<%- include('partials/header') -%>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- image -->
<div class="container">
  <div id="image-div">
    <img src="https://i.pinimg.com/originals/46/27/8f/46278f80ebe11c44cd24497cff91be4d.jpg" />
    <button class="btn" id="S1" data-placement="bottom" data-toggle="popover" tabindex="0" title="Hospitality S1"
      data-content="<strong>Hospitality</strong>
          <h3>Hi there!!!</h3>
          ">
    </button>
    <button class="btn" id="S2"></button>
    <button class="btn" id="S3"></button>
  </div>
</div>
<div>
</div>
<!-- modal-form -->
<!-- <div class="bg-modal">
    <div class="modal-content">
      <a id="close">+</a>
      <p>Hospitality</p>
      <p>Team</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="text" name="name" placeholder="name" id="empsearch">
          <div id="names">
            <a class="dropdown-item" href="#"></a>
          </div>
          
        </div>
      </div> -->
<div class="bg-modal">
  
    </div>
    

  </div>
</div>
<%- include('partials/footer') -%>